// @import "~bootstrap/scss/bootstrap"; Боря попросил убрать бутстрап (и правильно сделал)

@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

$tab: 768px;
$desk: 992px;
$full: 1440px;
$fhd: 1920px;

$bsh: 0 .4rem .4rem #0003;


:root {
  --red: #E53935;
  --yellow: #FDD835;
  --green: #4CAF50;
  --blue-grey-100: #ECEFF1;
  --blue-grey-200: #B0BEC5;
  --blue-grey-400: #78909C;
  --blue-grey-800: #37474F;
  --indigo: #3949AB;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


html {
  font-size: calc(10vw / 4);
  @media (min-width: $tab) {
    font-size: calc(10vw / 8);
  }
  @media (min-width: $desk) {
    font-size: calc(10vw / 14.4);
  }
  @media (min-width: $full) {
    font-size: 10px;
  }
  @media (min-width: $fhd) {
    font-size: calc(10vw / 19.2);
  }
  background: var(--blue-grey-100) url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M60 0V60V60H0V60V0H60ZM1 1V59H59V1L1 1Z' fill='%23CFD8DC' fill-opacity='0.2'/%3E%3C/svg%3E%0A") left 0 top -3rem / 6rem repeat;
}

body {
  font: 1.6rem/2rem 'Zen Kaku Gothic Antique', sans-serif;
  color: var(--blue-grey-800);
}

.auth {
  background: #ffffff;
  border-radius: .5rem;
  box-sizing: border-box;
  max-width: 44rem;
  box-shadow: $bsh;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 0;
  @media (min-width: $tab) {
    margin: 4rem auto;
  }

  &._preload {
    pointer-events: none;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fffc;
      border-radius: .5rem;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8rem;
      height: 8rem;
      margin: -4rem 0 0 -4rem;
      box-sizing: border-box;
      border-radius: 50%;
      z-index: 2;
      border: 1rem solid #3949ab00;
      border-top-color: var(--indigo);
      animation: rotate .7s linear infinite 0s;
    }
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
    line-height: 4rem;
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__label {
    &._text {
      border-radius: .5rem;
      background: var(--blue-grey-100);
      border: .1rem solid var(--blue-grey-200);
      padding: 1rem 2rem;
      box-sizing: border-box;
      height: 6rem;
      position: relative;
    }

    &._submit {

    }
  }

  &__area {
    background: none;
    border: none;
    appearance: none;
    outline: none;
    margin: 1.7rem 0 0;
    padding: 0;
    height: 2rem;
  }

  &__desc {
    position: absolute;
    left: 2rem;
    top: 50%;
    margin-top: -1rem;
    transition: all .2s;

    .auth__area:focus + &,
    .auth__area:not(:placeholder-shown) + & {
      top: .8rem;
      margin-top: 0;
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: var(--blue-grey-400);
    }
  }

  &__error {
    font-size: 1.2rem;
    line-height: 1.2;
    color: var(--red);
    text-align: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__submit {
    min-height: 4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--indigo);
    border: none;
    text-align: center;
    outline: none;
    appearance: none;
    border-radius: .5rem;
    padding: .4rem 3rem;
  }

  &__checkbox {
    position: relative;

    &-input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }

    &-desc {
      min-height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 4rem;
      position: relative;
      color: var(--blue-grey-200);
      transition: color .2s;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1.5rem;
        box-sizing: border-box;
        width: 3rem;
        height: 3rem;
        border-radius: .5rem;
      }

      &:before {
        border: .1rem solid var(--blue-grey-200);
        background: var(--blue-grey-100);
      }

      &:after {
        opacity: 0;
        transition: opacity .2s;
        background: var(--indigo) url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8661 0.801147C18.3543 0.318734 19.1457 0.318734 19.6339 0.801147C20.122 1.28356 20.122 2.0657 19.6339 2.54812L7.96721 14.0775C7.47905 14.5599 6.6876 14.5599 6.19944 14.0775L0.366109 8.31282C-0.122046 7.83041 -0.122046 7.04826 0.366109 6.56585C0.854265 6.08344 1.64572 6.08344 2.13388 6.56585L7.08333 11.4571L17.8661 0.801147Z' fill='white'/%3E%3C/svg%3E%0A") center center / 2rem no-repeat;
      }

      .auth__checkbox-input:checked + & {
        color: var(--blue-grey-800);

        &:after {
          opacity: 1;
        }
      }
    }
  }
}